/* Edit Profile Page */
.edit-profile-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-row label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #213547;
}

.input-row input,
.input-row select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}

.profile-pic-placeholder {
    width: 260px;
    height: 260px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-size: 14px;
}

.edit-btn-row {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 40px;
}

.cancel-link {
    color: #461955;
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.cancel-link:hover {
    color: #461955;
}



.edit-save-btn {
    background-color: #461955;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.4;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.edit-save-btn:hover {
    background-color: #461955;
}

.edit-container-card {
    background-color: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}