/* Login Page */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.login-logo {
    width: 350px;
    padding-bottom: 50px ;
}

.login-form-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.login-input {
    padding: 12px 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
}

.login-button,
.google-button {
    width: 250px;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.login-button {
    margin-top: 20px;
    background-color: var(--button-bg);
    color: #fff;
    border: none;
}

.login-button:hover {
    background-color: var(--button-hover);
}

.google-button {
    background-color: #fff;
    color: #545454;
    border: 1px solid #ccc;
}

.google-button:hover {
    background-color: #f4f4f4;
}

.login-error {
    background-color: #ffe6e0;
    padding: 10px;
    color: #461955;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

.login-register {
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

.login-register a {
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
}

.login-register a:hover {
    color: var(--button-hover);
    text-decoration: underline;
}