.AT-back-button {
    position: absolute;
    left: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.AT-image-label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000;
    text-align: center;
}

.AT-image-icon {
    font-size: 48px;
}

.AT-image-text {
    font-size: 16px;
    font-weight: bold;
}

.AT-file-input {
    display: none;
}
